NET "rtt" LOC = "38" |  IOSTANDARD=LVCMOS33;
NET "clock" LOC = "43" | IOSTANDARD=LVCMOS33;
NET "wrtm" LOC = "37" | IOSTANDARD=LVCMOS33;
NET "dtp0" LOC = "44" | IOSTANDARD=LVCMOS33 | BUFG=CLK;
NET "dtp1" LOC = "1" | IOSTANDARD=LVCMOS33 | BUFG=CLK;
NET "wtt" LOC = "36" | IOSTANDARD=LVCMOS33;
NET "rmt" LOC = "34" | IOSTANDARD=LVCMOS33;
NET "uc_mtd<0>" LOC = "33" | IOSTANDARD=LVCMOS33;
NET "uc_mtd<1>" LOC = "32" | IOSTANDARD=LVCMOS33;
NET "uc_mtd<2>" LOC = "31" | IOSTANDARD=LVCMOS33;
NET "uc_mtd<3>" LOC = "30" | IOSTANDARD=LVCMOS33;
NET "uc_mtd<4>" LOC = "39" | IOSTANDARD=LVCMOS33;
NET "uc_mtd<5>" LOC = "40" | IOSTANDARD=LVCMOS33;
NET "data_available" LOC = "41" | IOSTANDARD=LVCMOS33;
NET "read_done" LOC = "42" | IOSTANDARD=LVCMOS33;
NET "rd<0>" LOC = "2" | IOSTANDARD=LVCMOS33;
NET "rd<1>" LOC = "3" | IOSTANDARD=LVCMOS33;
NET "rd<2>" LOC = "29" | IOSTANDARD=LVCMOS33;
NET "uc_rd<0>" LOC = "28" | IOSTANDARD=LVCMOS33;
NET "uc_rd<1>" LOC = "27" | IOSTANDARD=LVCMOS33;
NET "uc_rd<2>" LOC = "23" | IOSTANDARD=LVCMOS33;
NET "uc_wd<0>" LOC = "22" | IOSTANDARD=LVCMOS33;
NET "uc_wd<1>" LOC = "21" | IOSTANDARD=LVCMOS33;
NET "uc_wd<2>" LOC = "20" | IOSTANDARD=LVCMOS33;
NET "wd<0>" LOC = "19" | IOSTANDARD=LVCMOS33;
NET "wd<1>" LOC = "18" | IOSTANDARD=LVCMOS33;
NET "wd<2>" LOC = "5" | IOSTANDARD=LVCMOS33;
NET "write_done" LOC = "6" | IOSTANDARD=LVCMOS33;
NET "write_possible" LOC = "8" | IOSTANDARD=LVCMOS33;
NET "uc_write_enable" LOC = "12" | IOSTANDARD=LVCMOS33;
NET "write_enable" LOC = "13" | IOSTANDARD=LVCMOS33;